/* styles/ResumePreview.css */
.name {
  margin-bottom: 0;
  font-size: 2.5em;
  text-align: center;
}

.center {
  text-align: center;
}

.headline {
  text-align: center;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.summary {
  font-size: 1em;
  margin-top: 1em;
  text-align: justify;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-side {
  width: 70%;
}

.right-side {
  width: 25%;
  font-size: 0.9em;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-item {
  display: inline-block;
  border: 1px solid #fdfdfd;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 2px;
}

.position {
  margin: 0;
  font-weight: bold;
}

.date {
  margin: 0;
  font-size: 0.8em;
}

.description {
  text-align: justify;
}
